<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link rel="icon" type="image/png" href="images/icons/favicon.png" />
    @Styles.Render("~/bundles/myscripts")

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    
</head>

<body>
    <!-- Header -->
    <header>
        <!-- Header desktop -->
        <div class="wrap-menu-header gradient1 trans-0-4">
            <div class="container h-full">
                <div class="wrap_header trans-0-3">
                    <!-- Logo -->
                    <div class="logo">
                        <a href="index.html">
                            <img src="images/icons/logotip.png" alt="IMG-LOGO">
                        </a>
                    </div>

                    <!-- Menu -->
                    <div class="wrap_menu p-l-45 p-l-0-xl">
                        <nav class="menu">
                            <ul class="main_menu">
                                <li>
                                    <a href="/Home/Index">Home</a>
                                </li>

                                <li>
                                    <a href="menu.html">Menu</a>
                                </li>

                                <li>
                                    <a href="reservation.html">Purchase</a>
                                </li>

                                <li>
                                    <a href="gallery.html">Gallery</a>
                                </li>

                                <li>
                                    <a href="about.html">About</a>
                                </li>

                                <li>
                                    <a href="contact.html">Contact</a>
                                </li>
                            </ul>

                            @*Корзина*@
                            <div class="cart full" style="height: 50px; width: 238px">
                                <div class="cart_header">
                                    <a id="cart_form:cart_box" name="cart_form:cart_box" href="/Home/Cart" class="cart_box">
                                        <i class="box_icon"></i>
                                        <i id="counter">
                                            <img src="/images/icons/romb_for_cart.png" width="100%" alt="counter" title="counter">
                                            <span id="counter span">0</span>
                                        </i> Корзина
                                    </a>
                                </div>
                            </div>


                            @*Вход/Регистр*@
                            @using Microsoft.AspNet.Identity
                            @if (Request.IsAuthenticated)
                            {
                                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                                {
                                    @Html.AntiForgeryToken()

                                    <ul class="nav navbar-nav navbar-right">
                                        <li>
                                            @Html.ActionLink("Пользователь - " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                                        </li>
                                        <li><a href="javascript:document.getElementById('logoutForm').submit()">Выйти</a></li>
                                    </ul>
                                }
                            }
                            else
                            {
                                <ul class="nav navbar-nav navbar-right">
                                    <li>@Html.ActionLink("Регистрация", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                                    <li>@Html.ActionLink("Войти", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                                </ul>
                            }
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section >
        @RenderBody()
    </section>

    <footer class="bg1">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-4 p-t-50">
                    <!-- - -->
                    <h4 class="txt13 m-b-33">
                        Contact Us
                    </h4>

                    <ul class="m-b-70">
                        <li class="txt14 m-b-14">
                            <i class="fa fa-map-marker fs-16 dis-inline-block size19" aria-hidden="true"></i>
                            Vologina St. 280-35, Polotsk
                        </li>

                        <li class="txt14 m-b-14">
                            <i class="fa fa-phone fs-16 dis-inline-block size19" aria-hidden="true"></i>
                            (+375) 25 740 99 18
                        </li>

                        <li class="txt14 m-b-14">
                            <i class="fa fa-envelope fs-13 dis-inline-block size19" aria-hidden="true"></i>
                            snegoviciliya1999@gmail.com
                        </li>
                    </ul>

                    <!-- - -->

                </div>

                <div class="col-sm-6 col-md-4 p-t-50">
                    <h4 class="txt13 m-b-32">
                        Opening Times
                    </h4>

                    <ul>
                        <li class="txt14">
                            09:00 AM – 18:00 PM
                        </li>

                        <li class="txt14">
                            Every Day
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="end-footer bg2">
            <div class="container">
                <div class="flex-sb-m flex-w p-t-22 p-b-22">
                    <div class="txt17 p-r-20 p-t-5 p-b-5">
                        Copyright &copy; 2018 All rights reserved
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>