@*@{
        Layout = "~/Views/Shared/_Layout.cshtml";
    }*@

@{
    ViewBag.Title = "Пиццерия";
}
@using SalePizza.Models;
@model Cart

@*@Styles.Render("~/Content/css")*@
@Scripts.Render("~/bundles/modernizr")

<head>
    <meta name="viewport" content="width=device-width" />
</head>

<h3 align="center">Моя корзина</h3>

<div id="modal-content" class="modal fade">
    @Html.BeginForm("AddToPurchase")
    {
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Покупка</h4>
            </div>
            <div class="modal-body">
                <div class="dl-horizontal">
                    <table class="table table-dark">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Название</th>
                                <th scope="col">Цена</th>
                            </tr>
                        </thead>

                        <tbody>
                            @{ int g = 1; }
                            @foreach (var pizza in Model.Pizzas)
                            {
                                <tr>
                                    <td>@g</td>
                                    <td>
                                        @pizza.Name
                                    </td>
                                    <td>
                                        @pizza.Price
                                    </td>
                                </tr>
                                g++;
                            }
                        </tbody>
                    </table>
                </div>

                <h4>Адрес:</h4>
                <dl class="dl-horizontal">
                    <dt style="margin-bottom: 15px">Город:</dt>
                    <dd>
                        <select type="text" size="1" name="Town">
                            <option>Полоцк</option>
                            <option>Новополоцк</option>
                        </select>
                    </dd>

                    <dt style="margin-bottom: 15px">Улица:</dt>
                    <dd><input type="text" name="Street" /></dd>

                    <dt style="margin-bottom: 15px">Дом:</dt>
                    <dd><input type="text" name="House" /></dd>

                    <dt style="margin-bottom: 15px">Квартира:</dt>
                    <dd><input type="text" name="Apartmen" /></dd>

                    <div class="box_total_number">
                        ВСЕГО:
                        <span name="Price"> @Model.AverageCost </span>
                        <span> руб. </span>
                    </div>
                </dl>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                <button type="submit" class="btn btn-primary">
                    @Html.ActionLink("Заказать", "AddToPurchase", new { cart = @Model, Price = Model.AverageCost, Pizzas = Model.Pizzas }, null)
                </button>
            </div>
        </div>
    </div>
    }
</div>



<h4 align="left">В корзине:</h4>

<div>
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Название пиццы</th>
                <th scope="col">Диаметр</th>
                <th scope="col">Состав</th>
                <th scope="col">Цена</th>
                <th scope="col">Количество</th>
            </tr>
        </thead>

        <tbody>
            @{int i = 1; }
            @foreach (var pizza in Model.Pizzas)
            {
                <tr>
                    <td>@i</td>
                    <td>
                        @pizza.Name
                    </td>
                    <td align="center">
                        @pizza.Diameter
                    </td>
                    <td>
                        @pizza.Composition
                    </td>
                    <td>
                        @pizza.Price
                    </td>
                    <td>
                        <label><input type="text" value="1" /></label>
                    </td>
                </tr>
                i++;
            }
        </tbody>
    </table>

    <div class="form-group">
        <div>
            ВСЕГО:
            <span> @Model.AverageCost </span>
            <span> руб. </span>
        </div>
        <div>
            @*<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                        Оформить заявку
                </button>*@
            <input id="purchase" type="button" class="CartItem" value="Оформить заказ" />
            @*<li>@Html.ActionLink("Оформить заказ", "Details",
                new { id = Model.Id }, new { @class = "CartItem" })</li>*@
        </div>
    </div>

</div>

@Scripts.Render("~/bundles/modalwindow")
