@using System.Data.Entity
@using Microsoft.AspNet.Identity
@using SalePizza.Models
@using System.Threading.Tasks;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Пиццерия";
}

<head>
    <meta name="viewport" content="width=device-width" />
</head>


<div>
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Название пиццы</th>
                <th scope="col">Диаметр</th>
                <th scope="col">Состав</th>
                <th scope="col">Цена</th>
                <th scope="col"></th>
            </tr>
        </thead>

        <tbody>
            @{ int i = 1; }            
            @foreach (var b in ViewBag.Pizzas)
            {
                <tr>
                    <th scope="row">@i</th>
                    <td>
                        @b.Name
                    </td>
                    <td align="center">
                        @b.Diameter
                    </td>
                    <td>
                        @b.Composition
                    </td>
                    <td>
                        @b.Price
                    </td>
                    <td>
                        @using (Html.BeginForm())
                        {
                            @Html.ActionLink("В корзину", "AddToCart", new { pizzaid = @b.Id }, null)
                        }
                    </td>
                </tr>
                i++;
            }
        </tbody>
    </table>
</div>
